// Current temp & atmosphere
#current-temp-icon {
  justify-self: flex-end;
  @extend .white-text;
}

#avg-temp {
  justify-self: flex-start;
  font-size: 15rem;
  line-height: 15rem;
  @extend .title-uc
}
