#search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  #search-form-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    i {
      display: inline-block;
      color: #ffffff;
      margin-right:0.5rem;
    }

    input[name="city-search"] {
      width: 25vw;
      text-align: left;
      border-radius: 15px;
      padding-left: 0.5rem;
      margin: 0 0.5rem;
      line-height: 1.6;
    }
  }

  input[type='submit'] {
    width: 1px;
    visibility: hidden;
  }
}